* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    width:100%;
    height:100%;
    font-family: 'Montserrat', sans-serif;
}

input, textarea {
    outline: none;
}

input:active, textarea:active {
    outline: none;
}

input:focus, textarea:focus {
    outline: none;
}

button:active, button:focus {
    outline: none;
}

select:active, select:focus {
    outline:none;
}
  
body, h1, h2, h3, h4, ul, li {
    margin: 0;
    padding: 0;
}

body {
    background-color: #dadada;
}

ul {
    list-style: none;
}
  
a {
    text-decoration: none;
    color: black;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select::-ms-expand {
    display: none;
}

.main {
    padding: 50px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Block calc ================================== */

.calc {
    width: 100%;
    height: 100%;
}

.calc__title {
    display: inline-block;
    height: 20px;
    background-color: #ffffff;
}

.calc__title span {
    position: relative;
    top: -20px;
    font-size: 30px;
    padding: 0 30px;
}

.calc__content {
    display: flex;
    justify-content: space-between;
}

.form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.calc-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 70%;
    background-color: #ffffff;
}

.calc-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 40px;
    width: 320px;
}

.calc-item__title {
    margin-bottom: 15px;
    font-size: 16px;
}

.calc-item__select {
    width: 100%;
    height: 40px;
    padding: 10px 35px 10px 10px;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    background: url('../image/arrow-bottom.png');
    background-repeat: no-repeat;
    background-position: 95% 50%;
    font-size: 16px;
    cursor: pointer;
}

.calc-price {
    padding-left: 30px;
    min-width: 30%;
    display: inline;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.calc-price__title {
    font-size: 16px;
    margin-bottom: 30px;
    text-align: center;
}

.calc-price__sum {
    margin-bottom: 30px;
    text-align: center;
    font-size: 23px;
    font-weight: 700;
}

.calc-price__input {
    margin-bottom: 20px;
    padding: 0 30px;
    width: 100%;
    height: 66px;
    border: 1px solid #d3d3d3;
    border-radius: 100px;
    font-size: 19px;
}

.calc-submit{
    width: 100%;
    height: 40px;
    padding: 10px 35px 10px 10px;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    background: #d3d3d3;
    font-size: 16px;
    cursor: pointer;
}

/* Block company ================================== */

.company-block {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    justify-content: center;
}

.company-block--left {
    max-width: 40%;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}

.company-block--right {
    min-width: 60%;
}

.company-block--right > .company-block__wrapper {
    padding-left: 50px;
}

.company-block__item {
    width: 100%;
    margin-bottom: 15px;
}

.company-block__title {
    margin-bottom: 15px;
    font-size: 16px;
}

.company-block__select {
    width: 100%;
    height: 40px;
    padding: 10px 35px 10px 10px;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    background: #ffffff url('../image/arrow-bottom.png');
    background-repeat: no-repeat;
    background-position: 96% 50%;
    font-size: 16px;
    cursor: pointer;
}

.company-block__checkbox-list {
    padding: 0 15px 20px 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.company-block__sum-item {
    display: flex;
}

.company-block__sum-item > .company-block__item {
    margin-right: 10px;
}

.company-block__sum-item > .company-block__item:last-child {
    margin-right: 0;
}

.company-block__summary {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
}

.company-block__summary > .company-block__item {
    width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.company-block__img {
    margin-bottom: 10px;
    width: 100px;
}

.company-block__img img {
    width: 100%;
}

.company-block__num {
    font-size: 30px;
}

.company-list {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}

.company-list__head {
    font-weight: 700;
    border-bottom: 1px solid #d3d3d3;
}
.company-list__head, .company-list__item {
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
}

.company-list__item {
    border-bottom: 1px solid #d3d3d3;
}

.company-list__item:last-child {
    border-bottom: none;
}

.company-list__empty {
    width: 100%;
    text-align: center;
}

.company-list__num {
    width: 5%;
    text-align: center;
}

.company-list__name {
    width: 59%;
}

.company-list__assigned-by-id {
    width: 12%;
    min-width: 130px;
    text-align: center;
}

.company-list__price {
    width: 12%;
    min-width: 130px;
    text-align: center;
}

.company-list_calc {
    width: 12%;
    min-width: 130px;
    text-align: center;
}

.company-list__difference {
    width: 12%;
    min-width: 130px;
    text-align: center;
}


/* Calendar ================================== */

.calendar__wrapper {
    display: flex;
    justify-content: space-between;
}

.calendar-block-search {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.calendar-block-result {
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.calendar-data-wrapper {
    padding-bottom: 70px;
    display: flex;
    width: 100%;
}

.calendar-result-wrapper {
    display: flex;
    justify-content: space-around;
}

.calendar-search {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.calendar-search__text {
    margin-bottom: 15px;
    font-size: 16px;
}

.calendar-search__input {
    width: 100%;
    height: 40px;
    padding: 10px;
    border: 1px solid #d3d3d3;
    background-size: 14px;
    background-repeat: no-repeat;
    background-position: 96% 50%;
    border-radius: 5px;
    font-size: 16px;
}

.calendar-list {
    display: flex;
    flex-direction: column;
}

.calendar-list__btn {
    margin-bottom: 10px;
    width: 100%;
    height: 40px;
    padding: 10px 35px 10px 10px;
    background: transparent;
    border: 1px solid #2aa1c0;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s;
}

.calendar-list__btn:hover {
    background-color: #2aa1c0;
    color: #ffffff
}

.calendar-responsible {
    display: flex;
    flex-direction: column;
}

.calendar-data__title {
    margin-bottom: 15px;
    font-size: 16px;
}

.calendar-responsible {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}

.calendar-responsible__title {
    margin-bottom: 15px;
    font-size: 16px;
}

.calendar-responsible__select {
    width: 100%;
    height: 40px;
    padding: 10px 35px 10px 10px;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    background: #ffffff url('../image/arrow-bottom.png');
    background-repeat: no-repeat;
    background-position: 96% 50%;
    font-size: 16px;
    cursor: pointer;
}

.calendar-result {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calendar-result__num {
    font-size: 30px;
    margin-bottom: 30px;
}

.calendar-result__text {
    position: relative;
    padding-left: 30px;
}

.text-1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background-color: #e5e90e;
}

.text-2::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background-color: #0ee90e;
}

.text-3::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background-color: #e90e0e;
}


/* Calendar-company ================================== */

.calendar-company {
    width: 100%;
    height: 400px;
    overflow: auto;
}

.not-found {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

.load {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    background: #fff;
}

.calendar-company__item, .calendar-company__item-head, .calendar-company__item-date {
    display: flex;
    /* border-bottom: 1px solid #d3d3d3; */
    width: 100%;
}

.calendar-company__item {
    cursor: pointer;
}

.calendar-company__item-date {
    height: 35%;
}

.calendar-company__num {
    min-width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #d3d3d3;
}

.calendar-company__name {
    width: 250px;
    padding: 10px 10px 10px 15px;
    display: flex;
    align-items: center;
    border-right: 1px solid #d3d3d3;
}

.calendar-company__link {
    display: flex;
    position: sticky;
    background-color: #ffffff;
    left: 0;
    border-left: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
}

.calendar-company__link.header {
    border-top: 1px solid #d3d3d3;
    border-bottom: 0;
}

.calendar-company__link.link {
    border: none;
}

.calendar-company__list-date {
    display: flex;
    background-color: #ffffff;
    left: 0;
    width: 100%;
}

.calendar-company__link-num {
    font-weight: bold;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
}

.calendar-company__link-name {
    font-weight: bold;
    min-width: 250px;
    padding: 10px 10px 10px 15px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    border-right: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
}

.calendar-company__list {
    display: flex;
    width: 100%;
}

.calendar-company__li {
    min-width: 40px;
    flex: 1;
    border-right: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
}

.calendar-company__li:hover {
    border: 1px solid #e90e0e;
}

.status-1 {
    background-color: #e5e90e;
}

.status-2 {
    background-color: #0ee90e;
}

.status-3 {
    background-color: #e90e0e;
}

.status-4 {
    background: linear-gradient(-45deg, #0ee90e 50%, #e90e0e 50%);
}

.status-5 {
    background: linear-gradient(-45deg, #e5e90e 50%, #e90e0e 50%);
}

.calendar-company__li-data {
    min-width: 40px;
    height: 100%;
    padding-bottom: 10px;
    display: flex;
    flex: 1;
    border-right: 1px solid #d3d3d3;
    border-top: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
}

.calendar-company__item-date .data {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
}

.calendar-company__item-date {
    position: sticky;
    top: 0;
    z-index: 100;
}

.calendar-company__item-date .data div {
    writing-mode: vertical-lr;
    text-align: center;
}

.calender-company__list-wrapper {
    position: relative;
}



/* Settings ================================== */

.settings__wrapper {
    display: flex;
    flex-wrap: wrap;
}

.settings-item {
    margin-bottom: 5px;
    width: 100%;
    border: 1px #e6e6e6 solid;
}

.settings-item:hover {
    cursor: pointer;
}

.settings__title {
    background: #e6e6e6;
    padding: 10px;
}

.settings__text {
    font-size: 12px;
    margin-bottom: 10px;
}

.settings__input {
    margin-bottom: 10px;
    width: 100%;
    height: 40px;
    padding: 10px 35px 10px 10px;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
}

.settings-item__wrapper {
    display: none;
}


.settings-item__wrapper.active {
    display: block;
    background: white;
    padding: 10px 10px 0 10px;
}

/* Modal ================================== */

.modal-task {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    z-index: 5000;
    overflow: auto;
}

.modal-create-task {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
    z-index: 6000;
    overflow: auto;
}

.modal__wrapper {
    padding: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__content {
    position: relative;
    padding: 50px 20px 20px 20px;
    background-color: #ffffff;
    width: 800px;
}

.modal__close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 40px;
    line-height: 15px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s;
}

.modal__close:hover {
    background-color: #2aa1c0;
    color: #ffffff;
}

.modal__create-task-btn {
    margin-left: 10px;
    height: 40px;
    padding: 10px;
    background: transparent;
    border: 1px solid #2aa1c0;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s;
}

.modal__create-task-btn:hover {
    background-color: #2aa1c0;
    color: #ffffff
}

.modal__cancel-btn, .modal__create-btn {
    height: 40px;
    padding: 10px;
    background: transparent;
    border: 1px solid #2aa1c0;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s;
}

.modal__cancel-btn:hover, .modal__create-btn:hover {
    background-color: #2aa1c0;
    color: #ffffff
}

.modal__create-btn {
    margin-left: 10px;
}

.modal__company span {
    font-weight: bold;
}

.modal__task {
    margin-top: 20px;
}

.modal__task span {
    font-weight: bold;
}

.task-list {
    margin-top: 50px;
    margin-bottom: 50px;
}

.task-list__head {
    display: flex;
    width: 100%;
    border-bottom: 1px solid #d3d3d3;
}

.task-list__head span {
    font-weight: bold;
}

.task-list__item {
    display: flex;
    width: 100%;
    align-items: center;
    border-bottom: 1px solid #d3d3d3;
}

.task-list__num {
    width: 30px;
    padding: 10px;
    font-size: 12px;
}

.task-list__name {
    width: 470px;
    padding: 10px;
    font-size: 12px;
}

.task-list__status {
    width: 150px;
    padding: 10px;
    font-size: 12px;
}

.task-list__action {
    padding: 0 10px;
    font-size: 12px;
    width: 105px;
}

.task-list__btn {
    width: 100%;
    padding: 5px;
    background: transparent;
    border: 1px solid #2aa1c0;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
    transition: all 0.2s;
}

.task-list__btn:hover {
    background-color: #2aa1c0;
    color: #ffffff
}

.modal__container {
    margin-bottom: 50px;
}

.task-item {
    margin-bottom: 20px;
}

.task__text {
    display: inline-block;
    width: 200px;
}

.task__input {
    width: 450px;
    height: 40px;
    padding: 10px;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    font-size: 16px;
}

/* Checkbox ================================== */

.control {
    width: 200px;
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 5px;
    padding-top: 3px;
    cursor: pointer;
    font-size: 16px;
}

.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.control_indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #e6e6e6;
    border: 0px solid #000000;
    border-radius: 0px;
}

.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
    background: #cccccc;
}

.control input:checked ~ .control_indicator {
    background: #2aa1c0;
}

.control:hover input:not([disabled]):checked ~ .control_indicator,
.control input:checked:focus ~ .control_indicator {
    background: #2aa1c0;
}

.control input:disabled ~ .control_indicator {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
}

.control_indicator:after {
    box-sizing: unset;
    content: '';
    position: absolute;
    display: none;
}

.control input:checked ~ .control_indicator:after {
    display: block;
}

.control-checkbox .control_indicator:after {
    left: 8px;
    top: 4px;
    width: 3px;
    height: 8px;
    border: solid #ffffff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.control-checkbox input:disabled ~ .control_indicator:after {
    border-color: #7b7b7b;
}

/* TABS =============================================================== */

.tabs {
    display: flex;
}

.tabs li:not(:last-child) {
    margin-right: 7px;
}

.tabs li a {
    display: block;
    position: relative;
    padding: 10px 25px;
    border-radius: 2px 2px 0 0;
    background: #e6e6e6;
    transition: all 0.1s ease-in-out;
}

.tabs li.active a,
.tabs li a:hover {
    background: #ffffff;
}

.tabs-content {
    position: relative;
    z-index: 2;
    padding: 50px 15px 15px 15px;
    background: white;
}

.tabs-panel {
    display: none;
}

.tabs-panel.active {
    display: block;
}

.tabs-panel p + div {
    margin-top: 15px;
}

@media screen and (max-width: 600px) {
    .tabs {
        flex-direction: column;
    }

    .tabs li {
        width: 100%;
    }

    .tabs li:not(:last-child) {
        margin-right: 0;
    }

    .tabs li a {
        border-radius: 0;
        opacity: 1;
        top: 0;
    }

    .tabs-content {
        border-radius: 0;
    }
}